body {
  margin: 0;
  padding: 0;
  color: black;
  background-color: #FAFAFA;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

content#grid {
  margin-top: 70px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

div.team-card {
  min-width: 270px;
  max-width: 350px;
  background-color: white;
  height: 400px;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 15px;
  box-sizing: border-box;
  padding: 20px;
}

div.team-card h1 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 22px;
}

ul.team-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 26px;
}

ul.team-list li {
  padding-left: 10px;
}

ul.team-list li.unsaved {
  background-color: aquamarine;
}

ul.team-list li div.special {
  margin: 0 10px 0 0;
  display: inline-block;
  width: 30px;
  font-size: 12px;
  font-weight: 700;
  color: #888888;
  line-height: 26px;
  font-family: 'Roboto Condensed', 'Roboto', Helvetica, Arial, sans-serif;
  text-align: right;
}

ul.team-list li.contractor {
  font-style: italic;
}

.overdue {
  color: red!important;
}

.new-to-team {
  color: mediumaquamarine!important;
}

.dot {
  padding-left: 10px;
}
